@import "tailwindcss";

@theme {
  --font-primary: "Inter", "sans-serif";
  --font-secondary: "Poppins", "sans-serif";


  
  --color-primary: #4F46E5;
  --color-secondary: #F28D35;
  --color-accent: #E2F2FE;
  --color-text-light: #6F6C90;
  --color-box-grey: #FAF8FF;
  --color-smoky-black: #100C08;
  
  
}
